{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    TODO

    {% for listing in listings %}
    <h1> {{ listing.title }}</h1>
    <p> {{ listing.description }} </p>
    {{ listing.startin_bid }}
    {% if listing.image_url %}
    {{ listing.image_url }}
    {% endif %}
    {% if listing.image_file %}
    <img src="media/{{ listing.image_file }}">
    {% endif %}

    {% endfor %}

{% endblock %}