{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    TODO: Make listings clickable
    <ul>
    {% for listing in listings %} 
    <h1> <li>{{ listing.title }}</li></h1> 
    <h1> <li> <a href="{% url 'detail' listing.id %}"> {{ listing.title }} </a></li></h1> 
    <p> {{ listing.description }} </p>
    <h2> {{ listing.startin_bid }} </h3>
    {% if listing.image_url %}
    {{ listing.image_url }}
    {% endif %}
    {% if listing.image_file %}
    <img src="media/{{ listing.image_file }}">
    {% endif %}

    
    {% endfor %}
    <ul>
{% endblock %}