{% extends "auctions/layout.html" %}

{% block body %}
    <h2>All Details of Selected Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <ul>
    <h1> <li>{{ listing.title }}</li></h1>    
    <p> {{ listing.description }} </p>
    <h2> {{ listing.startin_bid }} </h3>

    {% if listing.quantity %}
    Quantity: {{ listing.quantity}}
    {% endif %}

    {% if listing.category %}
    Category: {{ listings.category }}
    {% endif %}
    <hr>
    Starting bid was: {{ listing.starting_bid }}
    <br>
    {% if inactive %}
    {% else %}
    Bid 
    {{ bids.as_p }}
    {{ bids }}
        <form action="{% url 'bid' listing.id %}" method="post">
        {% csrf_token %}
        {{ bids.as_p }}
        {{ bids }}
        <div class="form-group">
            <input class="form-control" autofocus type="number" name="current_bid" placeholder="How much do you want to bid?">
        </div>
        <input class="btn btn-secondary" type="submit" value="Bid on this">
        </form>

        else: You have to bid more than the initial bid.

    {% endif %}
    <hr>
    First Listed on: {{ listing.date_posted }}
    <hr>
    <br> 
    {% if listing in all_wish %}
    <form action="{% url 'unwatch_this' listing.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-secondary" type="submit" value="Remove from watchlist">
    </form>
    {% else %}
        <form action="{% url 'watch_this' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{listing.id}}">
        <input class="btn btn-primary" type="submit" value="Add to watchlist">
    </form>
    {% endif %}


    {% if listing.image_url %}
    {{ listing.image_url }}
    {% endif %}
    {% if listing.image_file %}
    <img src="/media/{{ listing.image_file }}">
    {% endif %}    
    <ul>
{% endblock %}