{% extends "auctions/layout.html" %}

{% block body %}
    <h2>All Details of Selected Listing</h2>
    <hr>
    error: <p>Cannot assign "User 'ReX": "comments_AL.user" must be a "Auction_Listings" instance.</p>
    <form action="{% url 'comment' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="AL">
        <input type="hidden" name="user">
        <div class="form-group">
            <input class="form-control" type="text" name="comment" placeholder="comment">
        </div>
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Submit Comment">
    </form>
    <hr>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <ul>
    <h1> <li>{{ listing.title }}</li></h1>    
    <p> {{ listing.description }} </p>
    <h2> {{ listing.startin_bid }} </h3>

    {% if listing.quantity %}
    Quantity: {{ listing.quantity}}
    {% endif %}

    {% if listing.category %}
    Category: {{ listings.category }}
    {% endif %}
    <hr>
    Starting bid was: {{ listing.starting_bid }}
    <br>
    {% if not listing.active %}
        {% if not high.user %}
            Auction ended without a winner.
            {% else %}
            <br> Auction is closed
            {% if high.user == user %}
            <br> You ( {{ high.user }} ) are the winner is with {{ high.amount }} !
            {% else %}
            <br> Better luck next time!
            {% endif %}

        {% endif %}
    {% else %}
        {% if listing.host == user %}
        <form action="{% url 'end_auction' listing.id %}">
            {% csrf_token %}
            <input class="btn btn-secondary" type="submit" value="End Auction">
        </form>
        {% endif %}
        Bidding is open: 
        <form action="{% url 'placebid' listing.id %}" method="post">
        {% csrf_token %}
         <div class="form-group">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input autofocus type="number" name="amount">        
        </div>
        <input class="btn btn-secondary" type="submit" value="Bid on this">
        </form>
    {% endif %}
    <hr>
    First Listed on: {{ listing.date_posted }}
    <hr>
    <br> 
    {% if listing in all_wish %}
    <form action="{% url 'unwatch_this' listing.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-secondary" type="submit" value="Remove from watchlist">
    </form>
    {% else %}
        <form action="{% url 'watch_this' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{listing.id}}">
        <input class="btn btn-primary" type="submit" value="Add to watchlist">
    </form>
    {% endif %}

    {% if listing.image_url %}
    {{ listing.image_url }}
    {% endif %}
    {% if listing.image_file %}
    <img src="/media/{{ listing.image_file }}">
    {% endif %}    
    <ul>
{% endblock %}