{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    TODO: Make listings clickable damn
    <ul>
    {% for listing in listings %} 
    {% if listing in all_wish %}
    <form action="{% url 'remove_watch' listing.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-secondary" type="submit" value="Remove from watchlist">
    </form>
    {% else %}
        <form action="{% url 'add_watch' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{listing.id}}">
        <input class="btn btn-primary" type="submit" value="Add to watchlist">
    </form>
    This item is not on your watchlist
    {% endif %}
    <h1> <li>{{ listing.title }}</li></h1> 
    <h1> <li> <a href="{% url 'detail' listing.id %}"> {{ listing.title }} </a></li></h1> 
    <p> {{ listing.description }} </p>
    <h2> {{ listing.startin_bid }} </h3>
    {% if listing.image_url %}
    {{ listing.image_url }}
    {% endif %}
    {% if listing.image_file %}
    <img src="media/{{ listing.image_file }}">
    {% endif %}


    {% endfor %}
    <ul>
{% endblock %}