{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    TODO: Make listings clickable: So they're added or removed Watchlist

    Only let items on watchlist appear (instead of everything like index.html)
    <ul>
    {% for listing in listings %} 

        {% if watchlist %}
            <h1> <li>{{ listing.title }}</li></h1> 
            <h1> <li> <a href="{% url 'detail' listing.id %}"> {{ listing.title }} </a></li></h1> 

            <form action="{% url 'add_watch' listing.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="add to watchlist">

                <input class="btn btn-primary" type="submit" value="Remove from watchlist">
            </form>
        
            <p> {{ listing.description }} </p>
            <h2> {{ listing.startin_bid }} </h3>
            {% if listing.image_url %}
            {{ listing.image_url }}
            {% endif %}
            {% if listing.image_file %}
            <img src="media/{{ listing.image_file }}">
            {% endif %}
                
        {% endif %}    

    {% endfor %}
    <ul>

{% endblock %}